cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
numpy==1.26.4
pandas==2.2.1
pdfminer.six==20221105
pdfplumber==0.10.4
pillow==10.2.0
pycparser==2.21
pypdfium2==4.27.0
PyQt6==6.6.1
PyQt6-Qt6==6.6.2
PyQt6-sip==13.6.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tzdata==2024.1
